body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@font-face {
    src: url(04b03.ttf) format(ttf);
    font-family: '04b03';
}

#howtoplay {
    display: none;
    font-family: '04b03';
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

#htp-hud-arrows {
    position: absolute;
    top: 0;
    left: 0;
}

#htp-centered {
    max-width: 800px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -150px;
}

#htp-button {
    font-family: '04b03';
    font-size: 64px;
    position: absolute;
    right: 0;
    bottom: -14px;
    cursor: pointer;
}

#htp-nav {
    list-style-type: none;
}

.htp-nav {
    display: inline-block;
    background-color: transparent;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.htp-nav.active {
    background-color: black;
    color: #6699ff;
}

th, td, tr {
    margin: 0;
    padding: 1px;
}

th, td {
    width: 50%;
}

tr {
    width: 100%;
}

table {
    width: 75%;
    position: relative;
    left: 50%;
    margin-left: -37.5%;
    border-spacing: 0;
}

td {
    text-align: left;
    padding-left: 80px;
}

td:not(:nth-last-child(1)) {
    border-right: 2px solid black;
}

th {
    font-weight: normal;
    border-bottom: 2px solid black;
    text-align: center;
}

.htp-content {
    display: none;
    text-align: left;
}

#htp-content-3 {
    padding-left: 250px;
}

.htp-content.active {
    display: block;
}
